@import 'bulma/bulma';
@import 'bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass';

@import './variables.scss';
@import './functions.scss';
@import './spacing.scss';
@import './typography.scss';
@import './helpers.scss';
@import './mixins.scss';

@import '../containers/Home/style.scss';
@import '../containers/Header/style.scss';

.fade-enter {
    opacity: 0;
    z-index: 1;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body {
  height: 100%;
  position: relative;
 }
 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }
 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }
