// This file is used to generate all the spacing helper classes

$marginKey: 'margin';
$paddingKey: 'padding';
$separator: '-';
$sizes: ( 8, 16, 24, 32, 48, 64, 96 );
$positions: ( 'top', 'right', 'bottom', 'left' );

.no-#{$marginKey} {
    margin: 0 !important;
}

.no-#{$paddingKey} {
    padding: 0 !important;
}

@mixin size_spacings($suffix, $size) {
    $suffix: #{if($suffix, #{$separator}#{$suffix}, '')};

    .#{$marginKey}#{$separator}#{$size}#{$suffix} {
        margin: remy($size) !important;
    }

    .#{$paddingKey}#{$separator}#{$size}#{$suffix} {
        padding: remy($size) !important;
    }

    @each $position in $positions {
        .#{$marginKey}#{$separator}#{$position}#{$separator}#{$size}#{$suffix} {
            margin-#{$position}: remy($size) !important;
        }

        .#{$paddingKey}#{$separator}#{$position}#{$separator}#{$size}#{$suffix} {
            padding-#{$position}: remy($size) !important;
        }
    }
}

@mixin position_spacings($suffix, $position) {
    $suffix: #{if($suffix, #{$separator}#{$suffix}, '')};

    .no#{$separator}#{$marginKey}#{$separator}#{$position}#{$suffix} {
        margin-#{$position}: 0 !important;
    }

    .no#{$separator}#{$paddingKey}#{$separator}#{$position}#{$suffix} {
        padding-#{$position}: 0 !important;
    }
}

@each $position in $positions {
    @include position_spacings(null, $position);
}

@each $size in $sizes {
    @include size_spacings(null, $size);
}
