@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$fontFamily: 'Open Sans', sans-serif;
$fontTitle: 'Lora', serif;

body, h1, h2, h3, h4, h5, h6, p, div, span, label, input, button, select, textarea {
    font-family: $fontFamily;
}

.has-font-serif {
    font-family: $fontTitle;
}

.has-text-underlined {
    text-decoration: underline;
}

b {
    font-weight: bold;
}
