{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./src"
            ],
            "alias": {
              "@controllers": "./src/controllers",
              "@middleware": "./src/middleware",
              "@db-manager": "./src/db-manager",
              "@security": "./src/security",
              "@queries": "./src/queries",
              "@tools": "./src/tools"
            }
          }
        ],
        [
          "@babel/plugin-transform-runtime",
          {
            "absoluteRuntime": false,
            "corejs": false,
            "helpers": true,
            "regenerator": true,
            "useESModules": false
          }
        ]
      ]

}
