.navbar-base {
    background: $logo;
    width: 241px;
    height: 60px;
}

.navbar {
    .navbar-brand {
          flex-grow: 1;
    }

    .search-box {
          flex-grow: 1;

          & > div {
                margin:0 auto;
          }
    }

    .cart-button-container {
          flex-grow: 1;
          justify-content: space-evenly;

          & > button {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                border: none;
                color: red;
                font-weight: bold;
                width: remy(120);
                height: remy(38);
                border-radius: remy(20);
                @include red-yellow-gradient();
          }
    }
}

.ball {
    position:relative;
    animation: bounce 0.5s normal ;
    -webkit-animation: bounce 0.5s normal ;
}
@keyframes bounce {
    0% {
        top: 0;
        animation-timing-function: ease-in;
    }

    25% {
        top: 10px;
        animation-timing-function: ease-in;
    }

    75% {
        top: -10px;
        animation-timing-function: ease-in;
    }

    100% {
        top: 0;
        animation-timing-function: ease-in;
    }
}

