body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  padding-bottom: 10px;
  float: left;
}

.menu-wrapper {
  margin: auto;
}

.logotext{
    color: #BBB0AE;
    margin-top: -18px;
    text-align: center;
}


.speimg{
  margin-bottom: -20%;
  width: '100%';
  height: '100%';
}

.tableRowStyle {
  background-color: #f0f2f5;
  padding: 0px!important;
}

.dotG {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


.dotR2 {
  height: 10px;
  width: 10px;
  background-color: #bbb;

  border-radius: 50%;
  display: inline-block;
}

.dotR {
  height: 10px;
  width: 10px;
  background-color: #EA2027;

  border-radius: 50%;
  display: inline-block;
}

.dotO {
  height: 10px;
  width: 10px;
  background-color: #bbb;

  border-radius: 50%;
  display: inline-block;
}

.dotO2 {
  height: 10px;
  width: 10px;
  background-color: #F79F1F;

  border-radius: 50%;
  display: inline-block;
}


h1 {
  font-size: 2em;
}

.login-component {
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.login-component-form {
  border-radius: 5px;
  text-align: center;
  background-color: #09182E;
  padding: 20px;
}

.login-component img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
}

.login-form-button {
  float: right;
}

.LoginPage {
  background-color: #e9e;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  padding-bottom: 10px;
  float: left;
}

.menu-wrapper {
  margin: auto;
}

.logotext{
    color: #BBB0AE;
    margin-top: -18px;
    text-align: center;
}

.tableRowStyle {
  background-color: #f0f2f5;
  padding: 0px!important;
}

.selected-row {
  background: rgba(24,144,255, 0.3);
}

.cursorPointer{
  cursor: pointer;
}

.centered{
  margin: 0 auto;
}

.certain-category-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
  right: 12px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.certain-category-search.ant-select-focused .certain-category-icon {
  color: #108ee9;
}

.certain-category-icon {
  color: #6e6e6e;
  font-size: 16px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #108ee9;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}


.link-button-noUnder {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  color: #108ee9;
  pointer-events: none;
}

.link-button-noUnder:hover,
.link-button-noUnder:focus {
text-decoration: none;
}
